<link rel="stylesheet" type="text/css" href="resume.css">
<div class="container">
<div id="header">
</div>
<center>
<h1>Kimberly Shane A. Gonzales</h1>
<h4>Lot 16, Block 80, District 7, Epza Resettlement, Angeles City.</h4>
</center>
<h4>Summary</h4>
<hr>
<p>Resourceful IT professional who consistently meets and exceeds productivity goals. Proven capacity to troubleshoot issues to resolve issues quickly. Maintains a high level of professionalism, patience and efficiency to minimize customer dissatisfaction and increase customer loyalty.</p>
<h4>Highlights</h4>
<hr>
<div id="div">
<ul>
  <li>Troubleshooting</li>
  <li>Service and Support</li>
  <li>Computer Software Savvy</li>
  <li>Friendly</li>
  <li>People person</li>
  <li>High standards</li>
  <li>Trainer</li>
  <li>Conflict resolution</li>
  <li>Problem solver</li>
  <li>Critical thinker</li>
</ul>
</div>
<h4>Experience</h4>
<hr>
<p>IT Representative</p>
<p>Round Peg Customer Support – Angeles City, Pampanga</p>
<ul>
  <li>Address customer service inquires in a timely and accurate fashion.</li>
  <li>Give accurate and appropriate information to answer question, troubleshoot issues, and resolve complaints</li>
  <li>Cross-trained over 150 staff members in three years.</li>
  <li>Achieved customer satisfaction rating of 95% within six months, exceeding corporate target.</li>
</ul>
<p>IT Representative</p>
<p>Avian Computer Experts – City of San Fernando, Pampanga</p>
<ul>
  <li>Properly directed inbound calls in phones queues to improve call flow.</li>
  <li>Made reasonalbe procedure exceptions to accomodate unusual customer inquiries</li>
</ul>