h1, h2, h3, h4, h5, h6 {
  font-family: "Century Gothic", Century Gothic, Apple Gothic, sans-serif;
}

#header {
  background-color: #9dd1e1;
  height: 20px;
}

hr {
  border-top: 1px solid #9dd1e1;
}

p {
  font-family: "Century Gothic", Century Gothic, Apple Gothic, sans-serif;
}

#div {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

li {
  font-family: "Century Gothic", Century Gothic, Apple Gothic, sans-serif;
}

.container {
  width: 700px;
  margin: 10px auto;
  padding: 10px 10px;
}
