$font-stack:'Century Gothic', Century Gothic, Apple Gothic, sans-serif;;
$color:#9dd1e1;

h1, h2, h3, h4, h5, h6{
  font-family:$font-stack;
}
#header{
  background-color:$color;
  height:20px;
}
hr{
  border-top: 1px solid $color;
}
p{
  font-family:$font-stack;
}

#div {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}
li {
  font-family:$font-stack;
}
.container {
  width: 700px;
  margin: 10px auto;
  padding: 10px 10px;
}
